ammobin.ca {
  tls {%EMAIL%}
  gzip
  push
  proxy / client:3000 https://ammobin.now.sh https://ammobin-client.herokuapp.com https://ammobin.netlify.com {
    policy first
    fail_timeout 1s
    max_fails 5
    try_duration 1s
    health_check /
  }
  
  header / {
    # Enable HTTP Strict Transport Security (HSTS) to force clients to always connect via HTTPS
    Strict-Transport-Security "max-age=31536000;"
    # Enable cross-site filter (XSS) and tell browser to block detected attacks
    X-XSS-Protection "1; mode=block"
    # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
    X-Content-Type-Options "nosniff"
    # Disallow the site to be rendered within a frame (clickjacking protection)
    X-Frame-Options "DENY"
  }
  
  log / /var/log/caddy/client.log "{combined}" {
    rotate_size 25
  }

  errors {
    * /srv/custom-error.html
  }
}

api.ammobin.ca {
  tls {%EMAIL%}
  gzip
  push
  proxy / api:8080 {
    transparent
  }
  header / {
    # Enable HTTP Strict Transport Security (HSTS) to force clients to always connect via HTTPS
    Strict-Transport-Security "max-age=31536000;"
    # Enable cross-site filter (XSS) and tell browser to block detected attacks
    X-XSS-Protection "1; mode=block"
    # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
    X-Content-Type-Options "nosniff"
    # Disallow the site to be rendered within a frame (clickjacking protection)
    X-Frame-Options "DENY"
  }
  log / /var/log/caddy/api.log "{combined}" {
    rotate_size 25
  }
}

images.ammobin.ca {
  tls {%EMAIL%}
  proxy / images:8080 {
    transparent
  }
  header / {
    # Enable HTTP Strict Transport Security (HSTS) to force clients to always connect via HTTPS
    Strict-Transport-Security "max-age=31536000;"
    # Enable cross-site filter (XSS) and tell browser to block detected attacks
    X-XSS-Protection "1; mode=block"
    # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
    X-Content-Type-Options "nosniff"
    # Disallow the site to be rendered within a frame (clickjacking protection)
    X-Frame-Options "DENY"
  }
}

stats.ammobin.ca {
  tls {%EMAIL%}
  root  /www/goaccess
  gzip
  push
  basicauth / {%STATSUSER%} {%STATSPASS%}
}


graphana.ammobin.ca {
  tls {%EMAIL%}
  proxy / graphana:3000 {
    transparent
  }
  header / Strict-Transport-Security "max-age=31536000;"
}
